* {
  transition: 0.35s all;
}

/* Override Bootstrap colors */
.bg-dark {
  background-color: #222 !important;
}

.bg-light {
  background-color: #333 !important;
}

.bg-primary {
  background-color: #ffcc00 !important;
}

.bg-secondary {
  background-color: #2a273d !important;
}

.text-primary {
  color: #eee !important;
}

.text-dark,
.navbar-light .navbar-nav .nav-link,
a.text-dark:hover,
.navbar-light .navbar-nav .nav-link:hover {
  color: #222 !important;
}

a.text-primary:hover {
  color: #ddd !important;
}

a.bg-primary:hover,
button.bg-primary:hover {
  background-color: #e6b800 !important;
}

.navbar .container {
  max-width: 100% !important;
}
